<div class="tree">
	<ul>
		<li><a>1</a>
			<ul>
				<li><a>2</a>
					<ul>
						<li><a>4</a>
							<ul>
								<li><a>8</a>

									<ul>
										<li><a>16</a></li>
										<li><a>17</a></li>
									</ul>

								</li>
								<li><a>9</a>

									<ul>
										<li><a>18</a></li>
										<li><a>19</a></li>
									</ul>

								</li>
							</ul>
						</li>
						<li><a>5</a>
							<ul>
								<li><a>10</a>

									<ul>
										<li><a>20</a></li>
										<li><a>21</a></li>
									</ul>

								</li>
								<li><a>11</a>

									<ul>
										<li><a>22</a></li>
										<li><a>23</a></li>
									</ul>

								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a>3</a>
					<ul>
						<li><a>6</a>
							<ul>
								<li><a>12</a>

									<ul>
										<li><a>24</a></li>
										<li><a>25</a></li>
									</ul>

								</li>
								<li><a>13</a>
									<ul>
										<li><a>26</a></li>
										<li><a>27</a></li>
									</ul>

								</li>
							</ul>
						</li>
						<li><a>7</a>

							<ul>
								<li><a>14</a>

									<ul>
										<li><a>28</a></li>
										<li><a>29</a></li>
									</ul>
								</li>
								<li><a>15</a>
									<ul>
										<li><a>30</a></li>
										<li><a>31</a></li>
									</ul>
								</li>
							</ul>

						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>


<form>
	<div class="pagecontainer" matRipple>

		<mat-card>
			<div style="text-align:center;">
				<img style="height:100px;width:100px;" src="https://firebasestorage.googleapis.com/v0/b/sukauang-backend.appspot.com/o/logo.png?alt=media&token=4d6458e3-2aef-4bea-b368-f78ff400e4b9">
				<p>Selamat datang di Platform Kami</p>
				<p>Mari wujudkan mimpi bersama!</p>
			</div>
			<mat-form-field appearance="fill" class="full-width">
				<mat-label>User ID</mat-label>
				<input matInput #usernameInput placeholder="Masukan User Id Anda">
        </mat-form-field>
				<mat-form-field appearance="fill" class="full-width">
					<mat-label>Password</mat-label>
					<input matInput #passwordInput [type]="hide ? 'password' : 'text'">
					<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
				</mat-form-field>

				<div class="center">
					<button  mat-raised-button color="accent"
        (click)="checkLogin(usernameInput.value, passwordInput.value);">Login</button>
					<p>Belum punya akun? silahkan daftar di <a style="cursor:pointer"
							(click)="redirect_register()"><b>sini</b></a>.</p>
				</div>
		</mat-card>

	</div>
</form>