<form>
	<div class="pagecontainer">
		<mat-card>
			<p>Your Member:</p>
		</mat-card>
		<mat-card>

			<!-- <table style="border-collapse: collapse; width: 100%;text-align:center;" border=1>
				<tbody>
					<tr>
						<td colspan="16">{{member1}}</td>
					</tr>
					<tr>
						<td colspan="8">{{member2}}</td>
						<td colspan="8">{{member3}}</td>
					</tr>
					<tr>
						<td colspan="4">{{member4}}</td>
						<td colspan="4">{{member5}}</td>
						<td colspan="4">{{member6}}</td>
						<td colspan="4">{{member7}}</td>
					</tr>
					<tr>
						<td colspan="2">{{member8}}</td>
						<td colspan="2">{{member9}}</td>
						<td colspan="2">{{member10}}</td>
						<td colspan="2">{{member11}}</td>
						<td colspan="2">{{member12}}</td>
						<td colspan="2">{{member13}}</td>
						<td colspan="2">{{member14}}</td>
						<td colspan="2">{{member15}}</td>
					</tr>
					<tr>
						<td>{{member16}}</td>
						<td>{{member17}}</td>
						<td>{{member18}}</td>
						<td>{{member19}}</td>
						<td>{{member20}}</td>
						<td>{{member21}}</td>
						<td>{{member22}}</td>
						<td>{{member23}}</td>
						<td>{{member24}}</td>
						<td>{{member25}}</td>
						<td>{{member26}}</td>
						<td>{{member27}}</td>
						<td>{{member28}}</td>
						<td>{{member29}}</td>
						<td>{{member30}}</td>
						<td>{{member31}}</td>
					</tr>
				</tbody>
			</table> -->

			<div style="overflow-y:scroll">
				<div class="tree">
					<ul>
						<li><a>{{member1}}</a>
							<ul>
								<li *ngIf="member2 !== ''"><a>{{member2}}</a>
									<ul>
										<li *ngIf="member4 !== ''"><a>{{member4}}</a>
											<ul>
												<li *ngIf="member8 !== ''"><a>{{member8}}</a>

													<ul>
														<li *ngIf="member16 !== ''"><a>{{member16}}</a></li>
														<li *ngIf="member17 !== ''"><a>{{member17}}</a></li>
													</ul>

												</li>
												<li *ngIf="member9 !== ''"><a>{{member9}}</a>

													<ul>
														<li *ngIf="member18 !== ''"><a>{{member18}}</a></li>
														<li *ngIf="member19 !== ''"><a>{{member19}}</a></li>
													</ul>

												</li>
											</ul>
										</li>
										<li *ngIf="member5 !== ''"><a>{{member5}}</a>
											<ul>
												<li *ngIf="member10 !== ''"><a>{{member10}}</a>

													<ul>
														<li *ngIf="member20 !== ''"><a>{{member20}}</a></li>
														<li *ngIf="member21 !== ''"><a>{{member21}}</a></li>
													</ul>

												</li>
												<li *ngIf="member11 !== ''"><a>{{member11}}</a>

													<ul>
														<li *ngIf="member22 !== ''"><a>{{member22}}</a></li>
														<li *ngIf="member23 !== ''"><a>{{member23}}</a></li>
													</ul>

												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li *ngIf="member3 !== ''"><a>{{member3}}</a>
									<ul>
										<li *ngIf="member6 !== ''"><a>{{member6}}</a>
											<ul>
												<li *ngIf="member12 !== ''"><a>{{member12}}</a>

													<ul>
														<li *ngIf="member24 !== ''"><a>{{member24}}</a></li>
														<li *ngIf="member25 !== ''"><a>{{member25}}</a></li>
													</ul>

												</li>
												<li *ngIf="member13 !== ''"><a>{{member13}}</a>
													<ul>
														<li *ngIf="member26 !== ''"><a>{{member26}}</a></li>
														<li *ngIf="member27 !== ''"><a>{{member27}}</a></li>
													</ul>

												</li>
											</ul>
										</li>
										<li *ngIf="member7 !== ''"><a>{{member7}}</a>

											<ul>
												<li *ngIf="member14 !== ''"><a>{{member14}}</a>

													<ul>
														<li *ngIf="member28 !== ''"><a>{{member28}}</a></li>
														<li *ngIf="member29 !== ''"><a>{{member29}}</a></li>
													</ul>
												</li>
												<li *ngIf="member15 !== ''"><a>{{member15}}</a>
													<ul>
														<li *ngIf="member30 !== ''"><a>{{member30}}</a></li>
														<li *ngIf="member31 !== ''"><a>{{member31}}</a></li>
													</ul>
												</li>
											</ul>

										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

		</mat-card>
	</div>
</form>