<form>
	<div class="pagecontainer">
		<mat-card>
			<p>Your Member:</p>
		</mat-card>
		<mat-card>

			<table style="border-collapse: collapse; width: 100%; border: none;">
				<tbody>
					<tr>
						<td style="text-align: center;" colspan="16">{{member1}}</td>
					</tr>
					<tr>
						<td style="text-align: center;" colspan="8">{{member2}}</td>
						<td style="text-align: center;" colspan="8">{{member3}}</td>
					</tr>
					<tr>
						<td style="text-align: center;" colspan="4">{{member4}}</td>
						<td style="text-align: center;" colspan="4">{{member5}}</td>
						<td style="text-align: center;" colspan="4">{{member6}}</td>
						<td style="text-align: center;" colspan="4">{{member7}}</td>
					</tr>
					<tr>
						<td style="text-align: center;" colspan="2">{{member8}}</td>
						<td style="text-align: center;" colspan="2">{{member9}}</td>
						<td style="text-align: center;" colspan="2">{{member10}}</td>
						<td style="text-align: center;" colspan="2">{{member11}}</td>
						<td style="text-align: center;" colspan="2">{{member12}}</td>
						<td style="text-align: center;" colspan="2">{{member13}}</td>
						<td style="text-align: center;" colspan="2">{{member14}}</td>
						<td style="text-align: center;" colspan="2">{{member15}}</td>
					</tr>
					<tr>
						<td style="text-align: center;">{{member16}}</td>
						<td style="text-align: center;">{{member17}}</td>
						<td style="text-align: center;">{{member18}}</td>
						<td style="text-align: center;">{{member19}}</td>
						<td style="text-align: center;">{{member20}}</td>
						<td style="text-align: center;">{{member21}}</td>
						<td style="text-align: center;">{{member22}}</td>
						<td style="text-align: center;">{{member23}}</td>
						<td style="text-align: center;">{{member24}}</td>
						<td style="text-align: center;">{{member25}}</td>
						<td style="text-align: center;">{{member26}}</td>
						<td style="text-align: center;">{{member27}}</td>
						<td style="text-align: center;">{{member28}}</td>
						<td style="text-align: center;">{{member29}}</td>
						<td style="text-align: center;">{{member30}}</td>
						<td style="text-align: center;">{{member31}}</td>
					</tr>
				</tbody>
			</table>
		</mat-card>
	</div>
</form>