<form>
	<div class="pagecontainer">
		<mat-card>
			<p>Your Member:</p>
		</mat-card>
		<mat-card>

			<!-- <table style="border-collapse: collapse; width: 100%;text-align:center;" border=1>
				<tbody>
					<tr>
						<td colspan="16">{{member1}}</td>
					</tr>
					<tr>
						<td colspan="8">{{member2}}</td>
						<td colspan="8">{{member3}}</td>
					</tr>
					<tr>
						<td colspan="4">{{member4}}</td>
						<td colspan="4">{{member5}}</td>
						<td colspan="4">{{member6}}</td>
						<td colspan="4">{{member7}}</td>
					</tr>
					<tr>
						<td colspan="2">{{member8}}</td>
						<td colspan="2">{{member9}}</td>
						<td colspan="2">{{member10}}</td>
						<td colspan="2">{{member11}}</td>
						<td colspan="2">{{member12}}</td>
						<td colspan="2">{{member13}}</td>
						<td colspan="2">{{member14}}</td>
						<td colspan="2">{{member15}}</td>
					</tr>
					<tr>
						<td>{{member16}}</td>
						<td>{{member17}}</td>
						<td>{{member18}}</td>
						<td>{{member19}}</td>
						<td>{{member20}}</td>
						<td>{{member21}}</td>
						<td>{{member22}}</td>
						<td>{{member23}}</td>
						<td>{{member24}}</td>
						<td>{{member25}}</td>
						<td>{{member26}}</td>
						<td>{{member27}}</td>
						<td>{{member28}}</td>
						<td>{{member29}}</td>
						<td>{{member30}}</td>
						<td>{{member31}}</td>
					</tr>
				</tbody>
			</table> -->

			<div style="overflow-y:scroll">
				<div class="tree">
					<ul>
						<li><a>{{member1}}</a>
							<ul>
								<li *ngIf="!member2.length"><a>{{member2}}</a>
									<ul>
										<li><a>{{member4}}</a>
											<ul>
												<li><a>{{member8}}</a>

													<ul>
														<li><a>{{member16}}</a></li>
														<li><a>{{member17}}</a></li>
													</ul>

												</li>
												<li><a>{{member9}}</a>

													<ul>
														<li><a>{{member18}}</a></li>
														<li><a>{{member19}}</a></li>
													</ul>

												</li>
											</ul>
										</li>
										<li><a>{{member5}}</a>
											<ul>
												<li><a>{{member10}}</a>

													<ul>
														<li><a>{{member20}}</a></li>
														<li><a>{{member21}}</a></li>
													</ul>

												</li>
												<li><a>{{member11}}</a>

													<ul>
														<li><a>{{member22}}</a></li>
														<li><a>{{member23}}</a></li>
													</ul>

												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li *ngIf="!member3.length"><a>{{member3}}</a>
									<ul>
										<li><a>{{member6}}</a>
											<ul>
												<li><a>{{member12}}</a>

													<ul>
														<li><a>{{member24}}</a></li>
														<li><a>{{member25}}</a></li>
													</ul>

												</li>
												<li><a>{{member13}}</a>
													<ul>
														<li><a>{{member26}}</a></li>
														<li><a>{{member27}}</a></li>
													</ul>

												</li>
											</ul>
										</li>
										<li><a>{{member7}}</a>

											<ul>
												<li><a>{{member14}}</a>

													<ul>
														<li><a>{{member28}}</a></li>
														<li><a>{{member29}}</a></li>
													</ul>
												</li>
												<li><a>{{member15}}</a>
													<ul>
														<li><a>{{member30}}</a></li>
														<li><a>{{member31}}</a></li>
													</ul>
												</li>
											</ul>

										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

		</mat-card>
	</div>
</form>