<form>
	<div class="pagecontainer">
		<mat-card>Registration New Member
		</mat-card>
		<mat-divider></mat-divider>
		<mat-card>
			<mat-form-field class="full-width">
				<mat-label>Referal Code</mat-label>
				<input matInput placeholder="Your Referal Code" autocomplete="disable">
      </mat-form-field>
				<mat-form-field class="full-width">
					<mat-label>User Id</mat-label>
					<input matInput placeholder="Your User ID" autocomplete="disable">
       </mat-form-field>
					<mat-form-field class="full-width">
						<mat-label>Name</mat-label>
						<input matInput placeholder="Your Real Name" autocomplete="disable">
       </mat-form-field>
						<mat-form-field class="full-width">
							<mat-label>Mobile Phone Number</mat-label>
							<input matInput placeholder="Your phone number with whatsapp" autocomplete="disable">
      </mat-form-field>
							<mat-form-field class="full-width">
								<mat-label>Address</mat-label>
								<input matInput placeholder="Your Address" autocomplete="disable">
      </mat-form-field>
								<mat-form-field class="full-width">
									<mat-label>Bank Account/E-Wallet Number</mat-label>
									<input matInput placeholder="Your Bank Account/E-Wallet Number" autocomplete="disable">
      </mat-form-field>
									<mat-form-field class="full-width">
										<mat-label>Bank Account/E-Wallet</mat-label>
										<input matInput placeholder="Your Bank Account/E-Wallet" autocomplete="disable">
      </mat-form-field>
										<mat-form-field class="full-width">
											<mat-label>Bank Account/E-Wallet Name</mat-label>
											<input matInput placeholder="Your Bank Account/E-Wallet Name" autocomplete="disable">
      </mat-form-field>
		</mat-card>
		<br>
		<div style="text-align:center;">
			<button style="display:inline-block;" mat-raised-button>Sign Up</button>
		</div>
	</div>
</form>