<!-- <mat-form-field class="example-form-field">
	<mat-label>Clearable input</mat-label>
	<input matInput type="text" [(ngModel)]="value">
	<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field> -->

<!-- <form> -->
<div class="pagecontainer">
	<mat-card>Pendaftaran Anggota Baru
	</mat-card>
	<mat-divider></mat-divider>



	<mat-card>
		<mat-form-field class="full-width">
			<mat-label>Kode Referal</mat-label>
			<input matInput [(ngModel)]="txtReff" placeholder="kode Referal Anda" autocomplete="disable">
      </mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>User Id</mat-label>
				<input matInput placeholder="User Id Anda" autocomplete="disable">
       </mat-form-field>
				<mat-form-field class="full-width">
					<mat-label>Nama</mat-label>
					<input matInput placeholder="Nama Panjang" autocomplete="disable">
       </mat-form-field>
					<mat-form-field class="full-width">
						<mat-label>Nomor HP</mat-label>
						<input matInput placeholder="Nomor HP yang terhubung dengan whatsapp" autocomplete="disable">
      </mat-form-field>
						<mat-form-field class="full-width">
							<mat-label>Alamat</mat-label>
							<input matInput placeholder="Alamat Lengkap Anda" autocomplete="disable">
      </mat-form-field>
							<mat-form-field class="full-width">
								<mat-label>Nomor Rekening/E-Wallet</mat-label>
								<input matInput placeholder="Nomor Rekening/E-Wallet Anda" autocomplete="disable">
      </mat-form-field>
								<mat-form-field class="full-width">
									<mat-label>Nama Bank/E-Wallet</mat-label>
									<input matInput placeholder="Nama Bank/E-Wallet Anda" autocomplete="disable">
      </mat-form-field>
									<mat-form-field class="full-width">
										<mat-label>Nama Rekening Bank/E-Wallet</mat-label>
										<input matInput placeholder="Nama Rekening Bank/E-Wallet Anda" autocomplete="disable">
      </mat-form-field>
	</mat-card>
	<br>
	<div style="text-align:center;">
		<button style="display:inline-block;" mat-raised-button>Daftar</button>
	</div>
</div>
<!-- </form> -->