<form>
	<div class="pagecontainer">
		<mat-card>Visi:<br>membangun ekonomi yg sejahtera
		</mat-card>
			<mat-divider></mat-divider>
			<mat-card>Misi:<br>
				<ol>
					<li>Dengan modal 80 ribu bisa mendapatkan income harian Rp. 300.000,-</li>
					<li>Mendapatkan reward tambahan apabila seseuai dengan syarat ketentuan yg berlaku.</li>
					<li>Kita memberikan bukti bukan janji dan semua bisa dilakukan tanpa harus keluar rumah.</li>
					<li>Melalui sosmed kita bisa mendapatkan penghasilan tanpa batas.</li>
				</ol>
			</mat-card>
	</div>
</form>