<form>
	<div class="pagecontainer">
		<mat-card>SUKA UANG</mat-card>
		<mat-divider></mat-divider>
		<mat-card>
			<p>BISNIS SUKA UANG, BISNISNYA GENERASI MILLENIAL.</p>
			<p>Flatform kita hadir untuk memfasilitasi anda sebagai solusi financial termudah. Hanya dengan hp anda bisa
				menghasilkan uang tanpa harus keluar rumah.</p>
			<p>Keuntungan bergabung di bisnis suka uang:</p>
			<p>Hanya dengan modal 80.000 anda menjadi member bisnis suka uang. Selama kontrak 50 hari Dan berhak
				mendapatkan bonus harian dan bonus sponsor.</p>
			<p>Dengan sistem membangun jaringan dan binnary.</p>
			<p>Berikut rincian bonus harian :</p>
			<ul>
				<li>Lv1 2.000/hr selama kontrak masih ada. <br />Up ke lv2 jika jaringan seimbang 1/1</li>
				<li>Lv2 3.000/hr selama kontrak masih ada. <br />Up ke lv3 jika jaringan seimbang 3/3</li>
				<li>Lv3 4.000/hr selama kontrak masih ada. <br />Up ke lv4 jika jaringan seimbang 7/7</li>
				<li>Lv4 5.000/hr selama kontrak masih ada. <br />Up ke lv5 jika jaringan seimbang 15/15</li>
				<li>Lv5 6.000/hr selama kontrak masih ada. <br />Lv maximum atau finish</li>
			</ul>
			<p>Bonus sponsor 10.000/orang tanpa batas.</p>
			<p>Maksimalkan jaringan anda agar penghasilan anda bisa maksimal.</p>
		</mat-card>
		<mat-divider></mat-divider>
		<mat-card>
			<p>Deposit Perpanjangan kontrak selama 50 hari di :</p>
			<ul>
				<li>Lv 1: 80.000 profit 100.000</li>
				<li>Lv 2:&nbsp; 100.000 proft 150.000</li>
				<li>Lv 3: 120.000 profit 200.000</li>
				<li>Lv 4: 140.000 profit 250.000</li>
				<li>Lv 5: 160.000 profit 300.000</li>
			</ul>
			<p>Member harus aktif dan diagram nya seimbang, jika member nya tidak aktif lagi dan tidak memperpanjang
				kontrak, akan turun level.</p>
		</mat-card>
		<mat-divider></mat-divider>
		<mat-card>Visi:<br>membangun ekonomi yg sejahtera
		</mat-card>
			<mat-divider></mat-divider>
			<mat-card>Misi:<br>
				<ol>
					<li>Dengan modal 80 ribu bisa mendapatkan income harian Rp. 300.000,-</li>
					<li>Mendapatkan reward tambahan apabila seseuai dengan syarat ketentuan yg berlaku.</li>
					<li>Kita memberikan bukti bukan janji dan semua bisa dilakukan tanpa harus keluar rumah.</li>
					<li>Melalui sosmed kita bisa mendapatkan penghasilan tanpa batas.</li>
				</ol>
			</mat-card>
			<mat-divider></mat-divider>
			<mat-card>
				<p>Jika ada pertanyaan, silahkan menghubungi kami di group Telegram:
					<a target="_blank" href="t.me/sukauanglegit7corners20">t.me/sukauanglegit7corners20</a></p>
			</mat-card>
	</div>
</form>