<p>Syarat dan Ketentuan</p>
<ul>
	<li>kontrak : 60 Hari</li>
	<li>Deposit&nbsp; : Rp 60.000</li>
	<li>Bonus Harian :&nbsp;<br />
		<ul>
			<li>Lv1 1.500/hr</li>
			<li>Lv2 2.000/hr</li>
			<li>Lv3 3.000/hr</li>
			<li>Lv4 4.000/hr</li>
			<li>Lv5 5.000/hr</li>
		</ul>
	</li>
	<li>Syarat naik lv kalau isi jaringan kanan kiri. </li>
	<li>Bonus Reff : 10.000</li>
	<li>Min Penarikan uang : Rp 20.000</li>
	<li>Biaya Admin : Rp 6.500</li>
</ul>
<div style="text-align:center">
	<mat-checkbox class="" [(ngModel)]="checked">Setuju</mat-checkbox>
	<br>
	<button style="display:inline-block;" mat-raised-button >Aktivasi</button>
</div>