/* Add application styles & imports to this file! */
/* @import "@angular/material/prebuilt-themes/purple-green.css"; */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "@angular/material/prebuilt-themes/pink-bluegrey.css"; */

html,
body {
  position: relative;
  font-size: 12px;
  min-height: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  /* background-size: auto 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}

.pagecontainer {
  /* background-color: #00ff62; */
  /* -webkit-box-shadow: 0px 9px 22px -2px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 9px 22px -2px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 9px 22px -2px rgba(0, 0, 0, 0.67); */
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 1000px;
  min-height: 90%;

  margin-bottom: 20px;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mybutton {
  display: inline-block;
}
.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.myMenu {
  display: "";
  position: fixed;
  z-index: 2;
}
.myMenuHide {
  display: none;
}
.myBtnMenu {
  top: 20px;
  left: 20px;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.myFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  height: 20px;
}

.alwaysontop {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.tablecol {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.center {
  text-align: center;
}

ul.icon-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

ul.icon-set li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* Font Awesome icons */
a.icon {
  font-size: 40px;
  line-height: 80px;
  padding: 10px;
  background: #670081;
  color: rgb(255, 187, 0);
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 30px;
  padding-bottom: 10px !important;
}

a.icon:hover,
a.icon:focus {
  background: #6d8785;
}

.tree {
  width: max-content;
}

.tree * {
  margin: 0;
  padding: 0;
}

.tree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 3px solid black;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 3px solid black;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
  padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
  border-right: 3px solid black;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 3px solid black;
  width: 0;
  height: 20px;
}

.tree li a {
  border: 3px solid black;
  background-color: white;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-family: arial, verdana, tahoma;
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover,
.tree li a:hover + ul li a {
  background: #c8e4f8;
  color: #000;
  border: 3px solid #94a0b4;
}

/*Connector styles on hover*/
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
  border-color: #94a0b4;
}
