/* Add application styles & imports to this file! */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.pagecontainer {
  margin-top: 50px;
  padding: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #efefef; */
}
.mybutton {
  display: inline-block;
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.myMenu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.myFooter {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  text-align: center;
  width: 100%;
}
