<form>
	<div class="pagecontainer" matRipple>
		<mat-card>Selamat datang {{username}}
			<br>
			<p>Kode Referal anda: <a href={{referral}} target="_blank">{{referral}}</a></p>
			<p>Sponsor: {{sponsor}}</p>
		</mat-card>
		<mat-divider></mat-divider>
		<mat-card>
			<section class="icon">
				<ul class="icon-set">
					<li class="center">
						<div>
							<a class="icon" aria-label="Status" (click)="redirect_profil()">
								<i	class="fa fa-user-circle fa-fw" title="Status"></i></a>
							<br>
			Status {{statusakun}}

						</div>
					</li>
					<li class="center">
						<div>
							<a class="icon" aria-label="Masa Aktif">
								<i class="fa fa-calendar fa-fw" title="Masa Aktif"></i></a>
							<br>
			{{masaaktif}} hari
				</div>
					</li>
					<li class="center">
						<div>
							<a class="icon" aria-label="Level" (click)="redirect_member()">
								<i class=" fa fa-line-chart fa-fw" title="Level"></i></a>
							<br>
			Level {{level}}
				</div>
					</li>
					<li class="center">
						<div>
							<a class="icon" aria-label="Member" (click)="redirect_member()">
								<i class=" fa fa-users fa-fw" title="Member"></i></a>
							<br>
			Member {{jmlmember}}
				</div>
					</li>
					<li class="center">
						<div>
							<a class="icon" aria-label="Bonus">
								<i class="fa fa-money fa-fw" title="Bonus"></i></a>
							<br>
			Bonus {{bonus}}
						</div>
					</li>
					<li class="center">
						<div>
							<a class="icon" aria-label="Total" (click)="redirect_transaksi()">
								<i class="fa fa-money fa-fw" title="Total"></i></a>
							<br>
			Total {{total}}
				</div>
					</li>

				</ul>
			</section>

		</mat-card>
		<mat-divider></mat-divider>
		<mat-card>
			<div style="text-align:center;">
				<button *ngIf="this.aktivasiButtonVisible" style="display:inline-block;" mat-raised-button color="accent" (click)="openDialogWithRef(termconditiondialog)">Aktivasi</button>
				<button *ngIf="this.buktitrfButtonVisible" style="display:inline-block;" mat-raised-button color="accent" (click)="openDialogWithRef(buktitransferdialog)">Lihat Bukti Transfer</button>
				<button style="display:inline-block;" mat-raised-button *ngIf="this.witdhawButtonVisible" color="accent" (click)="openDialogWithRef(tarikdanadialog)">Tarik dana</button>
				<button style="display:inline-block;" mat-raised-button color="accent" *ngIf="this.checkinButtonVisible" (click)="checkin()">Check In</button>
			</div>
		</mat-card>
	</div>

	<ng-template #termconditiondialog>
		<h2 matDialogTitle>Syarat dan Ketentuan Aktivasi Akun.</h2>
		<div matDialogContent>
			<span [innerHTML]="activationnote"></span>
			<div style="text-align:center">
				<label for="file">Upload bukti transfer</label>
				<input type="file"
           id="file"
           accept="image/x-png,image/gif,image/jpeg"
           (change)="setFile($event)">
				<button mat-button matDialogClose (click)="handleFileInput()">Upload</button>
			</div>
		</div>
		<mat-dialog-actions align="end">

			<button mat-button matDialogClose>Turup</button>
		</mat-dialog-actions>
	</ng-template>

	<ng-template #buktitransferdialog>
		<h2 matDialogTitle>Bukti Transfer</h2>
		<div matDialogContent>
			<a target="_blank"
				href={{buktitrffile}}><img style="display:inline-block;width:100px;height:100px;" src={{buktitrffile}}></a>
		</div>
		<mat-dialog-actions align="end">
			<button mat-button matDialogClose>Tutup</button>
		</mat-dialog-actions>
	</ng-template>

	<ng-template #tarikdanadialog>
		<h2 matDialogTitle>Tarik Dana</h2>
		<div matDialogContent>
			<p>Silahkan masukan nilai penarikan:</p>
			<p>Minimal Jumlah Penarikan Rp. 20.000,-</p>
			<p>Biaya administrasi penarikan Rp. 6.000,-</p>
			<input matInput placeholder="Jumlah maksimal {{bonus}}"  #tarikdanainput autocomplete="disable" required>
			<div style="width:100%;text-align:center">
				<button mat-button mat-raised-button matDialogClose color="accent"
      style="display:inline-block" (click)="requesttarikdana(tarikdanainput.value)">Request Penarikan</button>
			</div>
		</div>
	</ng-template>



</form>