<form>
	<div class="pagecontainer">
		<mat-card>Selamat datang {{username}}
			<br>
			<p>Kode Referal anda: <a href={{referral}}>{{referral}}</a></p>
		</mat-card>
		<mat-divider></mat-divider>
		<mat-card>
			<table>
				<tr>
					<td>
						<mat-icon aria-hidden="false">account_circle</mat-icon>
					</td>
					<td>Status Akun</td>
					<td>:</td>
					<td>{{statusakun}}</td>
					<td><button style="display:inline-block;width:100%;" mat-raised-button color="accent" (click)="openDialogWithRef(termconditiondialog)">Aktivasi</button>
					</td>
				</tr>
				<tr>
					<td>
						<mat-icon aria-hidden="false">calendar_today</mat-icon>
					</td>
					<td>Masa Aktif</td>
					<td>:</td>
					<td>{{masaaktif}} Hari</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<mat-icon aria-hidden="false">how_to_reg</mat-icon>
					</td>
					<td>Level</td>
					<td>:</td>
					<td>{{level}}</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<mat-icon aria-hidden="false">people</mat-icon>
					</td>
					<td>Member</td>
					<td>:</td>
					<td>{{jmlmember}}</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<mat-icon aria-hidden="false">monetization_on</mat-icon>
					</td>
					<td>Bonus yang dapat diambil</td>
					<td>:</td>
					<td>{{bonus}}</td>
					<td><button style="display:inline-block;width:100%;" mat-raised-button *ngIf="this.witdhawButtonVisible" color="accent">Tarik dana</button>
					</td>
				</tr>
				<tr>
					<td>
						<mat-icon aria-hidden="false">monetization_on</mat-icon>
					</td>
					<td>Total Bonus</td>
					<td>:</td>
					<td>{{total}}</td>
					<td></td>
				</tr>
			</table>
		</mat-card>
		<mat-divider></mat-divider>
		<mat-card>
			<div style="text-align:center;">
				<!-- <p id="lblcekin">Check In untuk Claim Bonus Harian Anda!</p>
			<p id="lblcekindone">Kamu sudah check in untuk hari ini.</p> -->
				<button style="display:inline-block;" mat-raised-button *ngIf="this.checkinButtonVisible" (click)="checkin()">Check In</button>
			</div>
		</mat-card>
	</div>

	<ng-template #termconditiondialog>
		<h2 matDialogTitle>Syarat dan Ketentuan Aktivasi Akun.</h2>
		<div matDialogContent>
			<span [innerHTML]="activationnote"></span>
			<div style="text-align:center">
				<label for="file">Upload bukti transfer</label>
				<input type="file"
           id="file"
           accept="image/x-png,image/gif,image/jpeg"
           (change)="handleFileInput($event.target.files)">
</div>
			</div>
			<mat-dialog-actions align="end">
				<button mat-button matDialogClose>Dismiss</button>
			</mat-dialog-actions>
	</ng-template>


</form>